<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styling2.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-section">
      <h1>About Us</h1>
      <p>
        Welcome to Your Event Magic, where we turn ordinary moments into
        extraordinary memories! As a premier event management company, we
        specialize in bringing your dreams to life, one event at a time. Our
        passion for creating unforgettable experiences is at the heart of
        everything we do.Your Event Magic is more than a service; it's a
        partnership. We are here to make your event dreams come true. Contact us
        today to start the journey to an unforgettable experience that will be
        talked about for years to come. Your story deserves to be told, and we
        can't wait to help you tell it in the most magical way possible.
      </p>
    </div>

    <h2 style="text-align: center">Our Team</h2>
    <div class="row">
      <div class="column">
        <div class="card">
          <img src="" alt="img" style="width: 30%" />
          <div class="container">
            <h2>Srinivas Mannem</h2>
            <p class="title">Backend Developer</p>
            <p>
              Mannem's expertise lies in creating the backbone of the Your Event
              Magic website, ensuring its functionality is as seamless as the
              events we organize.
            </p>
            <p class="button">@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="" alt="img" style="width: 100%" />
          <div class="container">
            <h2>Vinay Vamshee</h2>
            <p class="title">Frontend Developer</p>
            <p>
              Vinay Vamshee is our Frontend Maestro, His attention to detail,
              creativity, and mastery of front-end technologies ensure that
              navigating our website is as delightful as attending one of our
              events.
            </p>
            <p class="button">@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="" alt="img" style="width: 100%" />
          <div class="container">
            <h2>Akash</h2>
            <p class="title">Backend Developer</p>
            <p>
              With a deep understanding of server-side technologies and a knack
              for problem-solving, Akash has built a robust, secure, and
              scalable backend infrastructure.
            </p>
            <p class="button">@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="" alt="img" style="width: 100%" />
          <div class="container">
            <h2>Suchandra Reddy J</h2>
            <p class="title">Frontend Developer</p>
            <p>
              Suchandra Reddy is responsible for the captivating visual elements
              that make the Your Event Magic website a feast for the eyes.
            </p>
            <p class="button">@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="" alt="img" style="width: 100%" />
          <div class="container">
            <h2>Aneesh Ponnaganti</h2>
            <p class="title">Backend Developer</p>
            <p>
              Aneesh ponnaganti, our Backend Architect and the wizard behind the
              scenes
            </p>
            <p class="button">@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
